:root {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  justify-content: center;
  isolation: isolate;
}

.layout::after,
.layout::before {
  content: '';
  position: absolute;
  right: -50px;
  transform: translate(-50%, 0);
  width: 500px;
  aspect-ratio: 1;
  background: linear-gradient(to top right, rgb(2, 27, 37), rgb(21, 21, 18));
  top: 50%;
  z-index: -2;
  border-radius: 50px;
}

.layout::before {
  z-index: -1;
  left: -50px;
  background: linear-gradient(to top right, rgba(0, 23, 35, 0.705), rgb(7, 7, 3));
}


.layout-mini {
  /* max-height: 100%; */
  width: 459px;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  position: relative;
  isolation: isolate;
  background: linear-gradient(to top left, rgba(22, 164, 86, 0.608), rgba(1, 76, 76, 0.518));
  z-index: 3;
}


.layout-mini-inner {
  display: grid;
  place-items: center;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 410px;
  background: rgba(19, 22, 23, 0.705);
  border-radius: 20px;
  padding: 1rem;
  backdrop-filter: blur(100px);
}

.range-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 50px;
}

.account-address {
  transform: translate(-50%, 0);
  bottom: 1rem;
  left: 50%;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  white-space: nowrap;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}


a {
  text-decoration: none;
  color: aliceblue;
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
}

a.navigate-link {
  background: rgb(2, 67, 64);
  padding: .4rem 1rem;
}

.button-main {
  all: unset;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  padding-inline: 1rem;
  background: rgb(0, 0, 0);
  cursor: pointer;
  text-align: center;
}

.modal {
  position: fixed;
  right: 1rem;
  top: 1rem;
  background: rgba(1, 24, 32, 0.957);
  border-radius: 10px;
  width: 300px;
  max-width: 100vw;
  backdrop-filter: blur(100px);
}

.range-input {
  width: 100%;
  margin-inline: 1rem;
  cursor: grab;
  border: none;
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  max-height: 100%;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: currentColor;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 30px;
  }

  50%,
  100% {
    top: 12px;
    height: 12px;
  }
}


/* Base styles for the range input */
input[type="range"] {
  -webkit-appearance: none;
  /* Remove default appearance */
  width: 100%;
  /* Full width */
  height: 8px;
  /* Custom height */
  background: #ddd;
  /* Track background color */
  border-radius: 5px;
  /* Rounded corners */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Initial opacity */
  transition: opacity 0.2s;
  /* Transition effect for hover */
}

input[type="range"]:hover {
  opacity: 1;
  /* Full opacity on hover */
}

/* Custom styles for the track */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #5e5b5b;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #5e5b5b;
  border-radius: 5px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  /* Needed for proper track styling in Edge */
  border-color: transparent;
  border-width: 6px 0;
  color: transparent;
}

/* Custom styles for the thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Remove default appearance */
  width: 25px;
  height: 25px;
  /* Thumb height */
  background: #019463;
  /* Thumb background color */
  border-radius: 50%;
  /* Rounded thumb */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: background 0.2s;
  margin-top: -7px;
  /* Transition effect */

}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
}

input[type="range"]::-ms-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
}

/* Active state styles for the thumb */
input[type="range"]:active::-webkit-slider-thumb {
  background: #45a049;
  /* Darker green on active state */
}

input[type="range"]:active::-moz-range-thumb {
  background: #45a049;
}

input[type="range"]:active::-ms-thumb {
  background: #45a049;
}